.idea
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/configure.ac
/hello.la
/hello.lo
/libtool
/Makefile
/Makefile.fragments
/Makefile.objects
/run-tests.php
/.libs/
/autom4te.cache/
/build/
/include/
/modules/
config.h.in~
